:root {
  --display-green: #38371c;
  --writing-white: #edf2f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #445f08;
}

h1 {
  font-size: 2.5rem;
  margin: 20px 0;
  text-align: center;
  color: var(--writing-white);
}

#change-due {
  text-align: left;
  font-size: 1.2rem;
}

.container {
  width: 500px;
  height: 500px;
  margin: 60px auto 0;
  background-image: url('./assets/cash-register.svg');
  background-repeat: no-repeat;
  position: relative;
}

#total {
  position: absolute;
  top: 30px;
  left: 280px;
  color: white;
  font-size: 1.2rem;
}

#purchase-input {
  position: absolute;
  top: 146px;
  left: 222px;
  width: 224px;
  height: 74px;
}

label {
  position: absolute;
  font-size: 18px;
  color: black;
  top: 8px;
  left: 10px;
}

#cash {
  position: absolute;
  top: 33px;
  left: 8px;
  height: 30px;
  width: 120px;
  padding: 10px;
  font-size: 15px;
  background-color: var(--display-green);
  color: white;
}

#purchase-btn {
  position: absolute;
  top: 33px;
  left: 135px;
  width: 80px;
  height: 28px;
  font-size: 16px;
  font-weight: bold;
  background-color: #d28f1c;
  border-width: 1px;
  cursor: pointer;
}

#purchase-btn:hover {
  background-color: #ffac33;
}

#cash-drawer-display {
  background-color: var(--display-green);
  position: absolute;
  top: 250px;
  left: 195px;
  width: 260px;
  height: 145px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
}

#cash-drawer-display > p {
  position: absolute;
  top: 7px;
  left: 60px;
}

#cash-drawer-display div span {
  top: 5px;
  left: 70px;
  font-size: 18px;
}

#drawer-left {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 125px;
  height: 105px;
}

#drawer-right {
  position: absolute;
  top: 30px;
  left: 135px;
  width: 125px;
  height: 105px;
}

@media (width <= 500px) {
  #drawer-left p:last-of-type {
    font-size: 16px;
  }
  #drawer-left p:last-of-type span {
    font-size: 17px;
  }
  #drawer-right p:last-of-type {
    font-size: 16px;
  }
  #drawer-right p:last-of-type span {
    font-size: 17px;
  }
}

#change-due {
  margin-top: 30px;
  text-align: left;
  font-size: 1.2rem;
  color: var(--writing-white);
}